*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: #e2dad3;
    --hover-color: #ffbb77;
    --bg-url: url(./meus\ assets/2.png);
    --border-collor: #6d073f;
    --border-collor-hover: #6d073f;
    --background-color: #57103e80;
    --background-color-hover: #36062580;
    --background-link-hover: #c77d3373;
    --switch-bg-url: url(./assets/moon-stars.svg);
}

.light{
    --text-color: rgb(255, 255, 255);
    --hover-color: #442f03;
    --bg-url: url(./meus\ assets/1.png); 
    --border-collor: salmon;
    --border-collor-hover: rgb(5, 151, 170);
    --background-color: rgba(250, 128, 114, 0.397);
    --background-color-hover: rgba(247, 99, 82, 0.541);
    --background-link-hover:rgba(5, 151, 170, 0.562);
    --switch-bg-url: url(./assets/sun.svg);
    --switch-color : rgb(5, 151, 170, 0.897);
} 

/* .light{
    --text-color: rgb(255, 255, 255);
    --hover-color: #442f03;
    --bg-url: url(./meus\ assets/1.png); 
    --border-collor: rgb(114, 250, 239);
    --border-collor-hover: rgb(5, 151, 170);
    --background-color: rgba(114, 184, 250, 0.514);
    --background-color-hover: rgba(250, 128, 114, 0.541);
    --background-link-hover:rgba(5, 151, 170, 0.562);
    --switch-bg-url: url(./assets/sun.svg);
    --switch-color : rgb(5, 151, 170, 0.897);
}  */

body{

    background: var(--bg-url) top center/cover;
    
}

body * {
    font-family: 'Commissioner', sans-serif;    
    color: var(--text-color);
    font-weight: 600;

}

#container {
    width: 360px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img{
    width: 112px;
}

#profile p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-top: 8px;
    font-family: 'Commissioner', sans-serif;
}

#switch{
    position: relative;
    width: 64px;

    margin: 4px auto;
}

#switch button{
    width: 32px;
    height: 32px;
    background: #c77d33c9 var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.light #switch button {
    right: 0;
    left: initial;
}



#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--background-color);
    border: var(--border-collor);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
}

/* links */

ul{
    list-style: none;
    
    display: flex;
    flex-direction: column; 
    gap: 12px;
    padding: 24px 0;
}

ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    background: var(--background-color);
    border: 1px solid var(--border-collor);

    border-radius: 8px;
    backdrop-filter: blur(1px);

    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    
    transition: all 0.3s;

}

ul li a:hover{
    background: var(--background-color-hover);
    border: 1px solid var(--border-collor-hover);
    color: var(--hover-color);
}

#social-links{
    display: flex;
    justify-content: center;
    padding: 12px 0;
    font-size: 40px;
}

#social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background 0.2s;
    border-radius: 50%;
}

#social-links a:hover{
    background: var(--background-link-hover);
}