*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background: url(./assets\ mobile/2.png) no-repeat top center/cover;
    
}

body * {
    font-family: 'Ubuntu', sans-serif;
    /*
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Comfortaa', cursive;
    font-family: 'Itim', cursive;
    font-family: 'Commissioner', sans-serif;
    font-family: 'Cuprum', sans-serif;
    font-family: 'Khand', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Signika', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    */
    color: rgb(211, 202, 186);
    font-weight: 800;

}

#container {
    width: 360px;
    margin: auto;
}

#profile {
    text-align: center;
    padding: 24px;
    margin: 56px auto 0px;
}

#profile img{
    width: 112px;
}

#profile p {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-top: 8px;
    color:antiquewhite;
}

